@page "/contactview"
@inject AuthenticationStateProvider AuthenticationStateProvider
@using MyInvestmentApp.Data.Models;
@inject MyInvestmentApp.Data.Interfaces.IMyCalcApi Repo
@inject NavigationManager navManager

<h3>Contact Requests Table</h3>


<AuthorizeView>
    <Authorized>
        <button type="button" class="btn btn-primary" @onclick="OnShowButtonClick">Show resolved inquiries</button>

        @if (contacts == null || contacts.Count == 0)
        {
            <p>There are no contact inquiries currently.</p>
        }
        else
        {

            <h2>Contacts:</h2>
            <table class="table">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Customer Name</th>
                        <th>Customer Email</th>
                        <th>Customer Phone Number</th>
                        <th>Inquiry Reason</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var contact in contacts)
                    {
                        <tr>
                             <td>@contact.</td>
                            <td>@contact.Id</td>
                            <td>@contact.Name</td>
                            <td>@contact.emailAddress</td>
                            <td>@contact.phoneNumber</td>
                            <td>@contact.userInquiry</td>
                        </tr>
                    }
                </tbody>
            </table>
            }
    </Authorized>
    <NotAuthorized>
        <h1>Authentication Failed</h1>
        <p>Please sign in!</p>
    </NotAuthorized>
</AuthorizeView>

@code {
    List<Contact> contacts { get; set; }

    public bool isResolved { get; set; } = true;

    private void OnShowButtonClick()
    {

        isResolved = false;
    }

}
